@tailwind base;

/* Write your own custom base styles here */
@font-face {
    font-family: 'Mechsuit';
    src: url('/assets/Mechsuit.otf');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@layer base {
    h1 {
        font-family: 'Mechsuit';
        color: #f0faff;
        /* text-shadow: #ffffff 0 0 0.1rem, #3d9184 0 0 0.2rem, #3d9184 0 0 0.3rem, #3d9184 0 0 0.4rem, #3d9184 0 0 0.8rem; */
        text-shadow: #6e91d1 0 0 0.1rem, #6e91d1 0 0 0.2rem, #6e91d1 0 0 0.4rem, #6e91d1 0 0 0.6rem, #6e91d1 0 0 1.2rem;
    }

    h2 {
        font-family: 'Roboto';
        color: #f0faff;
        /* text-shadow: #ffffff 0 0 0.1rem, #3d9184 0 0 0.2rem, #3d9184 0 0 0.3rem, #3d9184 0 0 0.4rem, #3d9184 0 0 0.8rem; */
        text-shadow: #6e91d1 0 0 0.1rem, #6e91d1 0 0 0.2rem, #6e91d1 0 0 0.4rem, #6e91d1 0 0 0.6rem, #6e91d1 0 0 1.2rem;
    }

    body {
        font-family: 'Roboto';
        color: #fcfcff;
        background-color: black;
        /* filter: blur(0.05vmin) saturate(0.8); */
        background-image: url('/assets/holo_1920.jpg');
        background-size: 100vw;
        background-attachment: fixed;
        backdrop-filter: blur(2px);
    }

    img {
        width: 100%;
    }
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

    .textGlow { text-shadow: #6e91d1 0 0 0.1rem, #6e91d1 0 0 0.2rem, #6e91d1 0 0 0.4rem, #6e91d1 0 0 0.6rem, #6e91d1 0 0 1.2rem; }
    .textGlowSmall { text-shadow: #6e91d1 0 0 0.1rem, #6e91d1 0 0 0.2rem, #6e91d1 0 0 0.4rem; }
    .boxGlow { box-shadow: #6e91d1 0 0 0.1rem, #6e91d1 0 0 0.2rem, #6e91d1 0 0 0.4rem, #6e91d1 0 0 0.6rem, #6e91d1 0 0 1.2rem; }
    .boxGlow-black { box-shadow: #000c 0 0 0.1rem, #000a 0 0 0.2rem, #000a 0 0 0.4rem, #000a 0 0 0.6rem, #000a 0 0 1.2rem; }

    .font-mechsuit { font-family: 'Mechsuit'; }
    .font-banner { font-size: 9vw; }
    .fontSubBanner {font-size: 3vw; }
    .font-2vw { font-size: 2vw; }

@layer utilities {
    @responsive {
        .ml-50vw { margin-left: 50vw; }

        .mr-5pc { margin-right: 5%; }
        .ml-5pc { margin-left: 5%; }
        .ml-10pc { margin-left: 10%; }
        .ml-20pc { margin-left: 20%; }
        .ml-30pc { margin-left: 30%; }
        .ml-50pc { margin-left: 50%; }
        .ml-60pc { margin-left: 60%; }
        .ml-80pc { margin-left: 80%; }

        .mt-1vw { margin-top: 1vw; }
        .mt--1vw { margin-top: -1vw; }
        .mt--2vw { margin-top: -2vw; }
        .mb--1vw { margin-bottom: -1vw; }
        .mb--2vw { margin-bottom: -2vw; }

        .pl-50pc { padding-left: 50%; }
        .pr-50pc { padding-right: 50%; }

        .w-5pc { width: 5%; }
        .w-15pc { width: 15%; }
        .w-20pc { width: 20%; }
        .w-25pc { width: 25%; }
        .w-50pc { width: 50%; }
        .w-80pc { width: 80%; }
        .w-85pc { width: 85%; }
    }
}
